<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Добро пожаловать на сайт сервиса корпоративного питания Бифалторг</h1>
<p>
  Заказ обработан
</p>
<p>Хорошего дня.</p>
</body>
</html>