<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Рады вашему возвращению на сервис корпоративного питания Бифалторг</h1>
<p>
	Ваши данные для входа: 
	почта: <%= @email %>
	пароль: <%= @password %>
</p>
<p>Хорошего дня.</p>
</body>
</html>