<div class="row">
	<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
		<div class="page-header">
		  <h1>Заказ принят, спасибо!</h1>
		</div>
	  	<div class="form-group">
			<p>Вы можете отправить замечание или предложение к своему заказу.</p>
		</div>
	  	<div class="form-group">
			{{textarea value=comment rows='5' classNames='form-control'}}
		</div>
	  	<div class="form-group">
			{{link-to 'Все в порядке, ожидаю заказ!' 'menu' classNames='pull-right btn btn-success'}}
			<a href="#" class='btn btn-primary'>Отправить</a>
		</div>
	</div>
</div>