<h4 class="list-group-item-heading">{{view.content.email}}</h4>
<div class="column main">
  <div class="pull-right">
    <button class="btn btn-embossed btn-success drag-handler">
      <span class="fui-list"></span>
    </button>
  </div>
  <div class="list-group-item-text">{{view.content.name}}</div>
</div>
<div class="column cost">
  {{view.content.phone}}
</div>
<div class="checkbox column visibility">
    Адрес: {{view.content.address}}
</div>
<div class="column actions">
</div>
<div class="clearfix"></div>  
