.navbar{background-color:transparent;border-color:none;border:none;}.navbar .container{border:1px solid transparent;background-color:#f8f8f8;border-color:#e7e7e7;border-radius:4px;}
.page-header{margin-top:0;}.page-header .calendar{margin-top:5px;}
.available-menu input{width:initial;margin-top:8px;margin-bottom:8px;}
body{margin-bottom:60px;}
.foods-admin-list .placeholder{height:60px;list-style:none;}
.foods-admin-list .checkbox{margin:0;}
.foods-admin-list .column{float:left;}
.foods-admin-list .main{width:60%;}
.foods-admin-list .cost{width:20%;padding:0 10px;}
.foods-admin-list .visibility{width:20%;}
.foods-admin-list .panel-heading .main{margin:5px 0 0 0;}
.foods-admin-list .panel-heading .visibility{margin-top:10px;}
.active-editable{display:none;}.active-editable textarea{width:100%;}
