.navbar{background-color:transparent;border-color:none;border:none;}.navbar .container{border:1px solid transparent;background-color:#f8f8f8;border-color:#e7e7e7;border-radius:4px;}
.page-header{margin-top:0;}.page-header .calendar{margin-top:5px;}
.available-menu input{width:initial;margin-top:8px;margin-bottom:8px;}
body{margin-bottom:60px;}
.foods-admin-list .list-group{padding:5px 0;}.foods-admin-list .list-group.no-dnd{padding:0;}
.foods-admin-list .placeholder{height:60px;list-style:none;}
.foods-admin-list .checkbox{margin:0;}
.foods-admin-list .column{float:left;}
.foods-admin-list .main{width:55%;}
.foods-admin-list .cost{width:20%;padding:0 10px;}
.foods-admin-list .visibility{width:20%;}
.foods-admin-list .actions{width:5%;}
.foods-admin-list .panel-heading .main h3{margin:5px 0 0 0;}
.foods-admin-list .panel-heading .visibility{margin-top:10px;}
.active-editable{display:none;}.active-editable textarea{width:100%;}
.calendar a.active{z-index:2;color:#fff;cursor:default;background-color:#428bca;border-color:#428bca;}
.add-food{width:110px;}
.box{text-align:center;margin-top:100px;}.box .clock{margin-left:30px;border-radius:60px;border:3px solid #e7e7e7;height:80px;width:80px;position:relative;top:28%;top:-webkit-calc(7%);top:calc(7%);left:35%;left:-webkit-calc(7%);left:calc(7%);}
.box .clock:after{content:"";position:absolute;background-color:#e7e7e7;top:2px;left:48%;height:38px;width:4px;border-radius:5px;-webkit-transform-origin:50% 97%;transform-origin:50% 97%;-webkit-animation:grdAiguille 2s linear infinite;animation:grdAiguille 2s linear infinite;}
@-webkit-keyframes grdAiguille{0%{-webkit-transform:rotate(0deg);} 100%{-webkit-transform:rotate(360deg);}}@keyframes grdAiguille{0%{transform:rotate(0deg);} 100%{transform:rotate(360deg);}}.box .clock:before{content:"";position:absolute;background-color:#e7e7e7;top:6px;left:48%;height:35px;width:4px;border-radius:5px;-webkit-transform-origin:50% 94%;transform-origin:50% 94%;-webkit-animation:ptAiguille 12s linear infinite;animation:ptAiguille 12s linear infinite;}
@-webkit-keyframes ptAiguille{0%{-webkit-transform:rotate(0deg);} 100%{-webkit-transform:rotate(360deg);}}@keyframes ptAiguille{0%{transform:rotate(0deg);} 100%{transform:rotate(360deg);}}.box h1{color:#e7e7e7;}
